body {
    margin: 0;
    padding: 0;
    background: #0597F2;
    font-family: RobotoMedium;
    height: 100vh;
    font-family: ReobotoRegular;
    background: url(../Images/patron.png); 
    background-size: 50%;
}
.login-box{
    width: 320px;
    height: 420px;
    background:#2a2a2a;
    color: #ffffff;
    top: 50%;
    left: 70%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    font-family: RobotoRegular;
}
.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1 {
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box label {
    margin:0;
    padding: 0;
    font-weight: bold;
    display: block;
}
.login-box input {
    width: 100%;
    margin-bottom: 35px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border:none;
    border-bottom: lpx solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box input[type="submit"] {
  cursor: pointer;
    float: left;
    border: none;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    background: #0597F2;
    box-shadow: 0px 2px 14px -5px #0597F2;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-family: RobotoMedium;
    margin: 10px;
    transition: ease-out;
    transition-duration: .3s;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
    float: left;
    border: none;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    background: #0597F2;
    box-shadow: 0px 2px 14px -5px #0597F2;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    font-family: RobotoMedium;
    margin: 10px;
    transition: ease-out;
    transition-duration: .3s;
}

.login-box a {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: darkgrey;
}

.login-box a:hover {
  background: #54b3ee;
}

